!!!
html(lang="en")
	head
		block title

		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords", content="protobowl,quizbowl,application,reader,academic,multiplayer,practice")
		meta(name="description", "A real time multiplayer quizbowl application")

		link(rel='stylesheet', href='/protobowl.css')

		script
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34434821-1']);
			_gaq.push(['_trackPageview']);

		body
			div.page-content-wrapper
				header.header
					div.navbar
						div.navbar-inner
							div.container
								a.show-sidebar
									i.icon-circle-arrow-right
								a.brand(href="/")
									strong Proto
									| Bowl 
									em.motto.hidden-phone(style="font-size: small")
										| doing one thing and doing it acceptably well

								div.pull-right.btn-group
									a.btn.btn-primary.new-room(href='/new') New Room
									a.btn.btn-primary.dropdown-toggle(data-toggle="dropdown")
										span.caret
									ul.dropdown-menu(role="menu")
										li
											a(href="/lobby") lobby
											a(href="/hsquizbowl") hsquizbowl

								div.pull-right
									ul#userinfo.nav(role="navigation", style="display:#{typeof name == 'undefined' ? '' : 'none'}")
										li#signin(style="display:#{user ? 'none' : ''}")
											a(href="/signin")
												i.icon-signin
												| Sign In
										li#user.dropdown(style="display:#{user ? '' : 'none'}")
											a.dropdown-toggle(href="#", role="button", data-toggle="dropdown")
												| <span class="user-name">#{user && user.username}</span>
												b.caret
											ul.dropdown-menu(role="menu")
												li
													a(href="/user/profile") Profile
												li
													a(href="/user/stats") Stats
												li
													.divider
													a(href="#") Keybindings
												li
													.divider
													a(href="/user/settings") Settings
												li
													.divider
													a(href="/logout") Logout
				
				
				.container
					block contained-content

				block content



			script(src="https://login.persona.org/include.js")

			script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")

			block scripts
				if user
					script
						logged_in_user = "#{user.email}";
				form#browserid(action="/auth/browserid", method="post", style="display:none")
					input(type="hidden", name="assertion", id="assertion")
					input(type="hidden", name="return", id="return")


			script(src="/auth.js")

			script
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
