extends ../layouts/user-layout


block title
	title Settings - Protobowl

block nine
	form(action='/set-settings', method='post').form-horizontal
		.control-group
			label.control-label(for="username") Username: 
			.controls
				input(type='text', name="username", value="#{user.username}").input-large#username
		.control-group
			label.control-label(for="gravatar_email") Gravatar Email: 
			.controls
				input(type='text', name="gravatar_email", value="#{user.gravatar_email}").input-large#gravatar_email
		.control-group
			label.control-label(for="real_name") Name:
			.controls
				input(type='text', name='real_name', value="#{user.name}").input-large#real_name
		.control-group
			label.control-label(for="location") Location:
			.controls
				input(type='text', name='location', value="#{user.location}").input-large#location
		.control-group
			label.control-label(for="bio") Bio:
			.controls
				textarea(type='text', name='bio', value="#{user.bio}").input-large#bio
		.control-group
			.controls
				button(type='submit').btn#settings Submit

	